.c-wrapper
{
    background: var(--black);
    color: white;
    position: relative;
    padding-bottom: 2rem;
}
.c-container
{
    position:relative;
    z-index: 1;
    margin-left: 9rem;
    margin-right: 12rem;
}
.c-container>h1{
    font-size: 3rem;
    color: var(--yellow);
}
.c-desc
{
    font-size: 1.2rem;  
}
.btn-cta

{
    margin: 1rem;
    padding: 0.6rem 1.4rem;
    color: white;
    background-color: var(--black);
    border: 2px solid var(--yellow);
    transition: all 300ms ease-in;
}
.btn-cta:hover
{
    background-color: var(--yellow);
  cursor: pointer;
  transform: scale(1.1);
  color: var(--black);
}